{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Confirm your email address" %}{% endblock %}

{% block body %}
    <h1>{% trans "Confirm your email address" %}</h1>
    
    <p>{% blocktrans %}We have sent you an email to <b>{{ email }}</b> for verification. Please follow the link provided to finalize the signup process and activate your account.{% endblocktrans %}</p>
    <p>{% blocktrans %}If you do not receive it within a few minutes, contact us at <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    <p><a href="{{ success_url }}">Go back</a></p>
{% endblock %}
