--extra-index-url=http://dist.pinaxproject.com/dev/
--extra-index-url=http://dist.pinaxproject.com/alpha/

Django
pinax-theme-bootstrap
pinax-theme-bootstrap-account
django-user-accounts
django-forms-bootstrap
metron
pinax-utils
eventlog
django-jsonfield
watchdog
honcho
psycopg2
South
django-crispy-forms
PIL
argcomplete
django-debug-toolbar
django-braces
