<!-- Leaflet Map -->
<link rel="stylesheet" href="{{ STATIC_URL }}dist/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ STATIC }}css/leaflet.ie.css" />
<![endif]-->
<script src="{{ STATIC_URL }}dist/leaflet.js"></script>

{% comment %}
{# disabling the cluster plugin for now. #}
<!-- cluster plugin -->
<link rel="stylesheet" href="{{ STATIC_URL }}dist/MarkerCluster.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}dist/MarkerCluster.Default.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}dist/MarkerCluster.Default.ie.css" /><![endif]-->
<script src="{{ STATIC_URL }}dist/leaflet.markercluster.js"></script>
{% endcomment %}

<!-- our script -->
<script src="{{ STATIC_URL }}js/map-interaction.js"></script>     
<!-- /Leaflet Map -->


{% block map_body %}
<div id="map_canvas"></div>
<div>You can limit the listed events by zooming the map</div>
{% endblock %}

{% block map_ready %}
<script type="text/javascript">
    $(document).ready(function(){  
        SSOUK.map_handler.init();
    });
</script>
{% endblock %}
