body {
  color: #eeeeee;
  background-color: #313131;
  line-height: 160%;
  font-family: verdana, sans-serif;
  font-size: 13px;
}
h1,
h2,
h3 {
  color: #de7ec8;
  font-family: 'Days One', sans-serif;
  font-weight: normal;
}
.lightBackground {
  background-color: #393939;
}
.lightBackground img {
  height: auto;
  vertical-align: top;
}
.lightBackground p,
.lightBackground h2 {
  margin: 0 25px;
}
h1 {
  font-size: 225%;
}
h2 {
  font-size: 135%;
}
.navbar-inner {
  background-image: none;
  background-color: #313131;
}
#topGraphic img {
  width: 100%;
}
div.participant_logo_box {
  background-color: #000;
  float: left;
  margin: 10px 5px;
}
div.participant_logo_box,
div.participant_logo_box > img {
  width: 130px;
  height: 55px;
}
div#category_filter {
  clear: both;
  margin: 20px;
}
.mainBody {
  margin-bottom: 110px;
}
footer {
  height: 103px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}
footer .legal {
  background-color: #313131;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #aaaaaa;
  font-size: 70%;
  overflow: hidden;
}
#footerDates {
  position: absolute;
  right: 20px;
  bottom: 17px;
  color: #dede7e;
  font-family: 'Days One', sans-serif;
  font-size: 18px;
}
/**** Deprecated (i.e. useless) Kim's first attempt at fixing responsive menu bar ***

@media (max-width: 979px)
{
    .nav-collapse, .nav-collapse.collapse
    {
	overflow: inherit;
	clear: none;
    }
    .navbar .nav {
	float: left;
	margin: 0 10px 0 0;
    }
}

div#container {
    width: 940px;
}
*/
