body {
  color: #eeeeee;
  background-color: #313131;
  line-height: 140%;
}
h1, h2, h3 {
  color: #de7ec8;
  font-family: 'Days One', sans-serif;
}
.navbar-inner {
  background-image: none;
  background-color: #313131;
}
#topGraphic img {
  width: 100%;
}
footer {
  height: 103px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}
footer .legal {
  background-color: #313131;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #aaaaaa;
  font-size: 70%;
}
#footerDates {
  position: absolute;
  right: 20px;
  bottom: 17px;
  color: #dede7e;
  font-family: 'Days One', sans-serif;
  font-size: 18px;
}
/**** Deprecated (i.e. useless) Kim's first attempt at fixing responsive menu bar ***

@media (max-width: 979px)
{
    .nav-collapse, .nav-collapse.collapse
    {
	overflow: inherit;
	clear: none;
    }
    .navbar .nav {
	float: left;
	margin: 0 10px 0 0;
    }
}

div#container {
    width: 940px;
}
*/
