body {
  color: #eeeeee;
  background-color: #313131;
  line-height: 140%;
}
h1, h2, h3 {
  color: #de7ec8;
}
.legal {
  font-size: 80%;
}
.navbar-inner {
  background-image: none;
  background-color: #313131;
}
#topGraphic img {
  width: 100%;
}
footer {
  height: 100px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}
footer .legal {
  background-color: #313131;
}
/**** Deprecated (i.e. useless) Kim's first attempt at fixing responsive menu bar ***

@media (max-width: 979px)
{
    .nav-collapse, .nav-collapse.collapse
    {
	overflow: inherit;
	clear: none;
    }
    .navbar .nav {
	float: left;
	margin: 0 10px 0 0;
    }
}

div#container {
    width: 940px;
}
*/
