{% load url from future %}


<div class="event">
	<h2>{{event_obj.name}}</h2>
	<div>
		by <a href="{% url 'participant_detail' event_obj.participant.slug %}">{{event_obj.participant}}</a>
	</div>
	<div><i class="icon-time icon-white"></i> {{event_obj.start_time}} -- {{event_obj.end_time}}</div>
	<div><a id="marker_item_{{event_obj.id}}" href=""><i class="icon-map-marker icon-white"></i> {{event_obj.location.name}}</a> </div>
	<script type="text/javascript">
		$(document).ready(function(){ 
        	$("#marker_item_{{event_obj.id}}")
        	.on("click", {
        		item_id: {{event_obj.id}},
                item_location_id: {{event_obj.location.id}},
                          },
                SSOUK.map_handler.onInventoryListClick);
     	});
    </script>	
	
	<div>
		<ul class="unstyled inline">
			<i class="icon-calendar icon-white"></i>
			{% for day in event_obj.days.all %}
				<li>{{day}}</li>
			{% endfor %}
		</ul>
	</div>
	<div>{{event_obj.description|striptags|urlize|linebreaks|truncatewords_html:15}}</div>
	<a href="{% url 'event-detail' event_obj.id %}">Go to the event</a>
	
</div>
<hr/>
