{% load url from future %}
{% load tidy from date_tidy %}


<div class="event">
    <h2>{% if event_obj.featured %}Featured {% if event_obj.isEvent %}Event{% else %}Installation{% endif %}:<br/>{% endif %}
    <a href="{{ event_obj.get_absolute_url }}" title="Go to the event">{{event_obj.name}}</a></h2>
	<div>
		by {% include "events/_event_collaborator_names_snippet.html" with event=event_obj %}
	</div>
	<div><i class="icon-time icon-white"></i> {{event_obj.start_time}} -- {{event_obj.end_time}}</div>
	<div><a id="marker_item_{{event_obj.id}}" href=""><i class="icon-map-marker icon-white"></i> {{event_obj.location.name}}</a> </div>
	<script type="text/javascript">
		$(document).ready(function(){ 
        	$("#marker_item_{{event_obj.id}}")
        	.on("click", {
        		item_id: {{event_obj.id}},
                item_location_id: {{event_obj.location.id}},
                          },
                SSOUK.map_handler.onInventoryListClick);
     	});
    </script>	
	
	<div>
	    <i class="icon-calendar icon-white"></i> {{ event_obj.days|tidy }}
	</div>
	<div>{{event_obj.description|striptags|urlize|linebreaks|truncatewords_html:15}}</div>
    <a href="{{ event_obj.get_absolute_url }}">See full event details</a>
	
</div>
<hr/>
