{% load url from future %}
{% load tidy makeDateClasses from date_tidy %}


{% if event_obj.featured %}<div class="event row-fluid{{ event_obj.days|makeDateClasses }}" style="background-color: rgb(57, 57, 57); "><div class="span12"><img src="{{ STATIC_URL }}img/elum_top.png" style="width:100%; height: 5px; vertical-align: top"/></div></div>{% endif %}
<div class="event row-fluid{{ event_obj.days|makeDateClasses }}"{% if event_obj.featured %} style="background-color: rgb(57, 57, 57); padding-bottom:5px"{% endif %}>
  <div class="span3" style ="padding-left:5px">
    <a href="{{ event_obj.get_absolute_url }}" title="See event details"><h2 class="negTopMargin">{% if event_obj.featured %}Featured {% if event_obj.isEvent %}Event{% else %}Installation{% endif %}:<br/>{% endif %}{{event_obj.name}}</h2></a>
    by {% include "events/_event_collaborator_names_snippet.html" with event=event_obj %}
  </div>
 <div class="span3">

    <div><i class="icon-time icon-white"></i> {{event_obj.start_time}} -- {{event_obj.end_time}}</div>
    <div><i class="icon-map-marker icon-white"></i> {{event_obj.location.name}}</div>
        
    <div>
      <i class="icon-calendar icon-white"></i> {{ event_obj.days|tidy }}
    </div>
  </div>
  <div class="span4">
      {% if event_obj.photo %}
        <img src="{{ event_obj.photo.url }}" style="max-height:80px; width: auto; max-width: 100px; height:auto; float: right; margin-left:5px"/>
      {% endif %}
    {{event_obj.description|striptags|urlize|linebreaks|truncatewords_html:15}}
  </div>
  <div class="span2" style ="padding-right: 5px">
    <a href="{{ event_obj.get_absolute_url }}" class="btn">See full event details</a>
  </div>
</div>
{% if event_obj.featured %}<br/> {% else %}<hr/>{% endif %}

