{% extends "site_base.html" %}
{% load url from future %}
{% block head_title %}
Programme
{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="span12">
    <h1>Programme</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <p>Sidebar for filtering?</p>
  </div>
  <div class="span8">
  	{% for event in object_list %}
    
    <div class="event">
    	name: {{event.name}}<br/>
    	time: {{event.start_time}} -- {{event.end_time}}<br/>
    	{% for day in days %}
    		{{day}}
    	{% endfor %}
    	exhibitor: {{event.participant}}<br/>
    	description: {{event.description}}<br/>
    	<a href="{% url 'event-detail' event.id %}">Go to the event</a>
    </div>
    <hr/>
    {% endfor %}
  </div>
</div>
{% endblock %}
