{% extends "events/event_base.html" %}
{% load url from future %}
{% block head_title %}
Programme
{% endblock %}

{% block nav_search %}
	{% include '_search_bar.html' with action_url_name='events-map' %}
{% endblock %}

{% block tab %}
	<ul class="nav nav-tabs">
		<li><a href="{% url 'events-map' %}" class="active">Map</a></li>
	  	<li><a href="{% url 'events-list' %}">List</a></li>
    </ul>
    {% comment %}
        Bug with category filter on event list map screen - https://github.com/e-Luminate/eluminate_web/issues/155
	    {% include 'participant/category_filter.html' with action_url_name='events-map' %}
    {% endcomment %}
	<div class="row-fluid">
		<div class="span6">
	    	{% include "maps/_map.html" %}
	        <style type="text/css">
	            #map_canvas{
	                height: 400px;
	            }
	        </style>
	        {% if map_bounds %}
				<script type="text/javascript">
					$(window).ready(function(){ 
	                	SSOUK.map_handler.map.fitBounds({{map_bounds}});
	             	});
	            </script>
	        {% endif %}
	        <div>You can limit the listed events by zooming the map</div>
		</div>	
		<div class="span6">
			{% include "events/_event_map_list.html"%}
		</div>
	</div>
{% endblock%}
