{% extends "events/event_base.html" %}
{% load url from future %}
{% block head_title %}
Programme
{% endblock %}

{% block nav_search %}
	{% include '_search_bar.html' with action_url_name='events-map' %}
{% endblock %}

{% block tab %}
	<ul class="nav nav-tabs">
		<li class="active"><a href="{% url 'events-map' %}">Map</a></li>
	  	<li><a href="{% url 'events-list' %}">List</a></li>
	</ul>
	{% include 'participant/category_filter.html' with action_url_name='events-map' %}
	<div class="row">
		<div class="span6">
	    	{% include "maps/_map.html" %}
	        <style type="text/css">
	            #map_canvas{
	                height: 400px;
	            }
	        </style>
	        {% if map_bounds %}
				<script type="text/javascript">
					$(window).ready(function(){ 
	                	SSOUK.map_handler.map.fitBounds({{map_bounds}});
	             	});
	            </script>
	        {% endif %}
		</div>	
		<div class="span6">
			{% include "events/_event_map_list.html"%}
		</div>
	</div>
{% endblock%}
