{% extends "site_base.html" %}
{% load url from future %}
{% load tidy from date_tidy %}
{% block head_title %}
{{ event.name }}
{% endblock %}

{% block body %}

<div class="row">
  <div class="span12">
    <h1>{{ event.name }}</h1>
    <div id="event-collaborators">
        <a href="{{ event.participant.get_absolute_url }}"><img class="img-rounded" src="{{ event.participant.logo.url }}" title="Go to participant"></a>{% for collaborator in event.approved_collaborators %}<a href="{{ collaborator.get_absolute_url }}"><img class="img-rounded" src="{{ collaborator.logo.url }}" title="Go to participant"></a>{% endfor %}

        <h2>Proudly presented by {% include "events/_event_collaborator_names_snippet.html" %}</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
  	<h2>When</h2>
	    	<div><i class="icon-time icon-white"></i> {{event.start_time}} -- {{event.end_time}}</div>
	    	<div>
	    			<i class="icon-calendar icon-white"></i> {{ event.days|tidy }}
	    	</div>
    {% if request.user.participant == event.participant %}
    	<a href="{% url 'event-update' event.id %}">Edit</a>
    {% endif %}
    {% if event.photo %}
      <br />
      <img src="{{ event.photo.url }}"/>
    {% endif %}

  </div>
  <div class="span4">
  	<h2>What</h2>
    {{ event.description|striptags|urlize|linebreaks }}
  </div>
  <div class="span4">
	<h2>Where</h2>
	<div>
		<p>
			<a id="marker_item_{{event.id}}" href="">
				<i class="icon-map-marker icon-white"></i> {{event.location.name}}</a>
		</p> 
	</div>
	<script type="text/javascript">
		$(document).ready(function(){ 
        	$("#marker_item_{{event.id}}")
        	.on("click", {
        		item_id: {{event.id}},
                item_location_id: {{event.location.id}},
                          },
                SSOUK.map_handler.onInventoryListClick);
     	});
    </script>
	
	    	{% include "maps/_map.html" %}
	        <style type="text/css">
	            #map_canvas{
	                height: 250px;
	            }
	        </style>
	        {% if map_bounds %}
				<script type="text/javascript">
					$(window).ready(function(){ 
	                	SSOUK.map_handler.map.fitBounds({{map_bounds}});
	             	});
	            </script>
	        {% endif %}
	
  	<script type="text/javascript">
               $(document).ready(function(){
                       
                       var info_text = "{{ event.location.name }}";
                       
                   SSOUK.map_handler.updateMarker({{ event.location.marker.y }}, 
                                                  {{ event.location.marker.x }},
                                                  info_text,
                                                  {{ event.location.id }}
                                                  );
                   SSOUK.map_handler.map.panTo([{{ event.location.marker.y }}, 
                                               {{ event.location.marker.x }}]);
               }); 
    </script>	
  </div>
</div>

{% endblock %}
