{% extends "site_base.html" %}
{% load url from future %}

{% block body %}
<h1>My Events</h1>

<div class="span12">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Event Name</th>
				<th>Time</th>
				<th>Days</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
	{% for event in object_list %}
			<tr>
				<td>{{event.name}}</td>
				<td>{{event.start_time}} -- {{event.end_time}}</td>
				<td><ul>
						{% for day in event.days.all %}
							<li>{{day}}</li>
						{% endfor %}
					</ul>
				</td>
				<td>{{event.description}}</td>
				<td><a href="{% url 'event-detail' event.id %}">View</a> | <a href="{% url 'event-update' event.id %}">Edit</a></td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
	<div>
		<a class="btn btn-primary" href="{% url 'event-create' %}">Add an Event</a>
	</div>
</div>
{% endblock%}