{% extends "site_base.html" %}

{% block head_title %}
Programme
{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="span12">
    <h1>Programme</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <p>Something probably goes here</p>
  </div>
  <div class="span8">
    <table class="table">
      <thead>
	<tr>
	  <td>Times</td>
	  <td>Description</td>
	  <td></td>
	</tr>
      </thead>
      <tbody>
	{% for event in event_list %}
	  <tr>
	    <td>{{ event.start_time }} - {{ event.end_time }}</td>
	    <td>Event name here</td>
	    <td><a href="/events/{{ event.id }}/">Details</a></td>
	  </tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
