{% extends "site_base.html" %}
{% load url from future %}

{% block head_title %}
Your Events
{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="span12">
    <h1>Your Events</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <table class="table">
      <thead>
	<tr>
	  <td>Times</td>
	  <td>Description</td>
	  <td></td>
	</tr>
      </thead>
      <tbody>
	{% for event in events %}
	  <tr>
	    <td>{{ event.start_time }} - {{ event.end_time }}</td>
	    <td>{{ event.name }}</td>
        <td><a href="{% url 'events_edit' event.id %}">Edit</a> &mdash; <a href="{% url 'events_item' event.id %}">Delete</a></td>
	  </tr>
	{% endfor %}
      </tbody>
    </table>
    <p><a href="{% url 'events_new' %}">Add an event</a></p>
  </div>
</div>
{% endblock %}
