{% extends "about_base.html" %}
{% comment %} ***News page*** {% endcomment %}
{% load i18n %}

{% block head_title %}{% trans "e-Luminate Festival News" %}{% endblock %}

{% block aboutHeading %}News{% endblock %}

{% block aboutContent %}
<div class="span4">
  <h2 style="margin-top:0;">Twilight at the Museums</h2>
  <h3>To get in the mood for the e-Luminate Festival why not take part in a magical evening of discovery at Twilight at the Museums on Wednesday 13th February?</h3>
  <p></p>
</div>
<div class="span4">
<p>Exactly one week before the Opening Ceremony of the e-Luminate  Cambridge Festival, the annual event<strong> Twilight at the Museums will take place from 4.30 to 7.30pm</strong>.</p>
  <p>This year bigger than ever, the Twilight at the Museums event is now extending to the great outdoors. As well as exploring inside, families can enjoy a light show projected onto the outside of the Fitzwilliam Museum, and glow-performers and illuminated installations at other venues. Download the programme leaflet <a href="http://www.cam.ac.uk/museums/twilight/twilight2013.pdf" target="_blank">here</a>.</p>
  <p>Museums and collections across Cambridge are opening their doors into the night of Wednesday 13 February for a free evening of fun and magic for families. Discover a giant glowing sphere with interactive animations that bring the collections to life, explore the Zoology Museum with spooky animal sounds and glowing creatures that come out at night, be fascinated by science in the dark at the brand new Cambridge Science Centre on Jesus Lane, and venture into the solar system at the Whipple Museum. Start planning your Twilight route by visiting the website <a href="http://www.cam.ac.uk/museums/twilight/" target="_blank">here</a>.</p>
</div>
<div class="span4">
  <a href="http://www.cam.ac.uk/museums/twilight/" target="_blank" rel="attachment wp-att-553"><img alt="Twilight 2013" src="{{ STATIC_URL }}img/Twilight-2013-small-300x99.jpg" /></a>
  <p><i><br/>University of Cambridge Museums Event Coordinator, Elly Wright said: “We are excited about bringing the paintings, specimens and objects together in creative and fun ways. Bringing light installations to our outside spaces will add to the discovery and adventure of the evening.”</i></p>
</div>
</div>
<div class="row-fluid">
<div class="span12">
<a class ="pull-right btn btn-info" target="_blank" href="http://blog.e-luminatefestivals.co.uk/news/">See our blog for more news&hellip;</a>
</div>
{% endblock%}
