{% extends "about_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "About the e-Luminate Festival: Vision" %}{% endblock %}

{% block aboutHeading %}Vision{% endblock %}

{% block aboutContent %}
<div class="span5">
  <h2>&nbsp;</h2>
  <p><b>“Good lighting, like good water, is something we take for granted. But it can also be an opportunity for technology, playing a vital role in improving energy efficiency and reducing energy demand. When this is further augmented by artistic creativity the opportunity for exciting results is even greater. e-Luminate™ Festivals will show just how lighting can be more than taken for granted and demonstrate innovation and inspiration simultaneously”</b></p>
  <i>Hugh Parnell, Chairman</i>
  <p>&nbsp;</p>
  <p>e-Luminate™ Cambridge Festival will showcase the most innovative ideas in cleantech re-elaborated by the most creative artists in town, and in the country, to highlight (pun intended) the importance of the Cambridge ecosystem in reacting to the future sustainability challenges</p>
<p>
We believe that by promoting collaboration across sectors and working creatively together we can make innovative technologies more accessible and revitalise the local economy during the quieter time of the year.. 
<br />&nbsp;
</p>
<h2>Mission</h2>
<p>
With the e-Luminate Cambridge Festival we aim to increasing the awareness of cleantech and 
in order to pursue our vision we intend to:
<ul>
<li>increase awareness of cleantech</li>
<li>improve collaboration across the cleantech and arts sectors</li>
<li>enhance Cambridge&rsquo;s green credentials</li>
<li>promote public art in Cambridge</li>
</ul>
</p>
</div>
<div class="span7">
  <div class="row-fluid">
    <div class="span11 offset1">
      <h2>What is Clean Technology?</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5 offset1">
      <p>Clean Technology or &ldquo;Cleantech&rdquo; is relatively new term and is used to describe companies that use innovative technology to create products and services that compete with traditional products on price and performance, while reducing our environmental impact.</p>
      <p>The concept of Cleantech is all about resource efficiency and forward thinking in the 21st century; an idea that has gone from relative obscurity to headline news in the last decade as worldwide endeavours to tackle climate change, energy provision and waste management become the prime agenda.</p>
    </div>
    <div class="span5 offset1">
      <p>These factors combine to make Cleantech an exciting growth area that will continue to attract increasing levels of attention and investment in the coming years and Cambridge is at the forefront of this ambition playing home to over 300 innovators.</p>
      <p>With public interest in clean technologies steadily growing, the e-Luminate Festival hopes to educate and showcase some of the recent advances in technology, research methods and manufacturing which are all lowering the costs of environmentally sound technologies, bringing many into the economic mainstream.</p>
    </div>
  </div>
</div>
{% endblock%}
