{% extends "about_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "About the e-Luminate Festival: Vision" %}{% endblock %}

{% block aboutHeading %}Vision{% endblock %}

{% block aboutContent %}
  <div class="span4">
    Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 
  </div>
  <div class="span4">
    <h2>What is Clean Technology?</h2>
    <p>Clean Technology or "Cleantech" is relatively new term and is used to describe companies that use innovative technology to create products and services that compete with traditional products on price and performance, while reducing our environmental impact.</p>
    <p>The concept of Cleantech is all about resource efficiency and forward thinking in the 21st century; an idea that has gone from relative obscurity to headline news in the last decade as worldwide endeavours to tackle climate change, energy provision and waste management become the prime agenda.</p>
    <p>These factors combine to make Cleantech an exciting growth area that will continue to attract increasing levels of attention and investment in the coming years and Cambridge is at the forefront of this ambition playing home to over 300 innovators.</p>
    <p>With public interest in clean technologies steadily growing, the e-Luminate Festival hopes to educate and showcase some of the recent advances in technology, research methods and manufacturing which are all lowering the costs of environmentally sound technologies, bringing many into the economic mainstream.</p>
  </div>

  <div class="span4">
    <img style="width: 100%; height: 360px" src="">
  </div>
{% endblock%}
