{% extends "about_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "About the e-Luminate Festival: People" %}{% endblock %}

{% block aboutHeading %}The e-Team{% endblock %}

{% block aboutContent %}
  <div class="span3">
    <p>The e-Team is composed of  professionals coming from diverse cultural backgrounds and with a rich variety of  skills and expertise.</p>
    <p>We are all volunteering our time to the e-Luminate™ Festival whilst juggling  the demands of our other businesses, jobs, and family lives.  We do so because we believe in this project and we want to make a real difference in the city promoting a more collaborative approach to work.<br/>&nbsp;</p>


  </div>
  <div class="span6">
<p class="smallerText"><img class="people-left" src="{{ STATIC_URL }}img/HughParnell-150x150.jpg"><b>Chairman</b> Hugh Parnell is a passionate supporter of environmental, low carbon and renewable energy technology companies, Chairman of Cambridge Cleantech & of Cambridge Energy Forum, adviser on angel/VC equity and corporate finance for early stage business growth, ambassador for Wysing Arts.</p>
<p class="smallerText"><img class="people-right" src="{{ STATIC_URL }}img/ACaggiano1-150x150.jpg"><b>Managing Director</b> Alessandra Caggiano is an enthusiast networker, guided by an irresistible entrepreneurial spirit. She makes the most of every encounter and every minute. Passionate about art, technology, and cultures, she  wishes to improve the collaboration amongst various sectors to promote innovation!</p>
  </div>

  <div class="span3 lightBackground">
    <img src="{{ STATIC_URL }}img/elum_top.png" />
    <h2 class="smallerHeading">The website luminaries</h2>
    <p class="smallerText"><i>The web technology developed for this website is open-source, and available from <a HREF="https://github.com/e-Luminate/eluminate_web">GitHub</a>. The team is available for consultancy.</i></p>
    <p class="smallerText"><img class="people-right smallerPic"><b>Team leader:</b> <a href="mailto: kim@OpenDECU.org">Kim Spence-Jones</a> is a serial entrepreneur, project manager and team leader. He is currently employed as Programme Manager of <a href="www.OpenDCU.org">OpenDCU.org</a>, working on open standards for the technology of sustainable smart and connected homes</p>
  </div>
{% endblock%}
