{% extends "about_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "The e-Luminate Festival team" %}{% endblock %}

{% block aboutHeading %}{% endblock %}

{% block aboutContent %}
  <div class="span3" style="vertical-align: center;">
<h1 style="margin-top:-5px;">The e-Team</h1>
    <p>The e-Team is composed of  professionals coming from diverse cultural backgrounds and with a rich variety of  skills and expertise.</p>
    <p>We are all volunteering our time to the e-Luminate™ Festival whilst juggling  the demands of our other businesses, jobs, and family lives.  We do so because we believe in this project and we want to make a real difference in the city promoting a more collaborative approach to work.<br/>&nbsp;</p>
  </div>

  <div class="span6">
<h2 style="margin-top:0;">The board</h2>
<p class="smallerText first"><img class="people-left" title="Hugh Parnell" alt="Hugh Parnell" src="{{ STATIC_URL }}img/HughParnell-150x150.jpg">
<b>Chairman: Hugh Parnell</b> is a passionate supporter of environmental, low carbon and renewable energy technology companies, Chairman of Cambridge Cleantech & of Cambridge Energy Forum, adviser on angel/VC equity and corporate finance for early stage business growth, ambassador for Wysing Arts.</p>
<p class="smallerText"><img class="people-right" title="Alessandra Caggiano" alt="Alessandra C." src="{{ STATIC_URL }}img/AlessandraCaggiano-150x150.jpg">
<b>Managing Director: Alessandra Caggiano</b> is an enthusiast networker, guided by an irresistible entrepreneurial spirit. She makes the most of every encounter and every minute. Passionate about art, technology, and cultures, she  wishes to improve the collaboration amongst various sectors to promote innovation!</p>
<p class="smallerText"><img class="people-left" title="David Gill" alt="David Gill" src="{{ STATIC_URL }}img/DavidGill-150x150.jpg"/><b>David Gill</b> is Managing Director of the St&nbsp;John’s Innovation Centre in Cambridge, the longest-established business incubator in Europe for technology ventures. He previously set up and ran the Innovation & Technology Unit at HSBC Bank in London (1997-2004), before serving as an executive director of a venture fund focused on early-stage, technology-based investments. Educated at Cambridge, he qualified as a barrister before working in corporate finance for US and UK banks.<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A Sloan Fellow at the Stanford Graduate School of Business in California (2005), David is currently an Academic Collaborator at the University of Cambridge Institute for Manufacturing, a non-executive director of UK Business Incubation Ltd and a member of the Department for Business Access to Finance Expert Group.</p>
<h2>The e-team</h2>
<p class="smallerText"><img class="people-left" title="Ross Ashton" alt="Ross Ashton" src="{{ STATIC_URL }}img/RossAshton-150x150.jpg"/>
<b>Artistic Director: Ross Ashton</b> is a creative director and projection artist. He is a practitioner of the art of Architectural Projection. He is an expert at using images and architecture in combination to allow audiences to see a building in a new way. He has been associated with prestigious events all over the world.</p>
<p class="smallerText"><img class="people-right" title="Begonia Forcada" alt="Begonia F." src="{{ STATIC_URL }}img/BegoniaForcada-150x150.jpg"/>
<b>Operations Director: Begonia Forcada</b> is a creative individual who sees culture and arts as key drivers for innovation and collaboration leading to new ventures. She is a novice Cello player, and she brings her vitality and professionalism to the festival.</p>

<p class="smallerText"><img class="people-left" title="Jules Abensour" alt="Jules Abensour" src="{{ STATIC_URL }}img/JulesAbensour-150x150.jpg"/>
<b>Marketing Director: Jules Abensour</b> is a digital and traditional marketing specialist who loves creating a buzz around innovative brands and products. She's particularly interested in start-ups, and enjoys finding creative, high-impact solutions to new business challenges.</p>

<p class="smallerText"><img class="people-right" title="Alex Pain" alt="Alex Pain" src="{{ STATIC_URL }}img/AlexPain-150x150.jpg"/>
<b>Events Coordinator: Alex Pain</b>. Alex is highly motivated and committed, always looking for new challenges in life. She enjoys Art in all its forms and she likes British sense of humour – just don’t tell her French fellow countrymen! She is passionate about food and more recently horse riding.</p>

<p class="smallerText"><img class="people-left" title="Elizabeth Cook" alt="Elizabeth Cook" src="{{ STATIC_URL }}img/ElizabethCook-150x150.jpg"/>
<b>Creative Solutions Director: Elizabeth Cook</b> is an Art lover, Scientist who loves to connect people, semi-pro athlete, and unreasonably entertained by challenges and puzzles. For e-Luminate, she hopes to provide leadership, hard work and out of the box thinking.</p>

<p class="smallerText"><img class="people-right" title="Chris Williams" alt="Chris Williams" src="{{ STATIC_URL }}img/ChrisWilliams-150x150.jpg"/>
<b>Artistic Advisor: Chris Williams</b>. In 2007, after a career as Creative Director in Hertfordshire, Chris moved to Cambridge to start his own independent art gallery. He is also a director of Love Cambridge and takes a keen interest in all things Cambridge, especially development of the arts.</p>
  </div>

  <div class="span3 lightBackground">
    <img src="{{ STATIC_URL }}img/elum_top.png" />
    <h2 class="smallerHeading">The website luminaries</h2>
    <p class="smallerText first"><i>The web technology developed for this website is open-source, and available from <a HREF="https://github.com/e-Luminate/eluminate_web">GitHub</a>. The team is available for consultancy.</i></p>
    <p class="smallerText"><img class="people-right smallerPic" title="Kim Spence-Jones" alt="Kim Spence-Jones" src="{{ STATIC_URL }}img/KimSJ-40x40.png"><b>Team leader:</b> <a href="mailto: kim@OpenDECU.org">Kim Spence-Jones</a> is a serial entrepreneur, project manager and team leader. He is also Programme Manager for <a href="www.OpenDCU.org">OpenDCU.org</a>, working on open standards for the technology of sustainable smart and connected homes</p>
    <p class="smallerText"><img class="people-left smallerPic" title="Michele Mattioni" alt="Michele Mattioni" src="{{ STATIC_URL }}img/MicheleMattioni.jpg"><b>Django Programmer:</b> <a href="http://michelemattioni.me">Michele Mattioni</a> is responsible for the map technology, and for technical leadership in the project. His day job is Managing Director of the <a href="http://sustainablesouk.com/">Sustainable Souk</a></p>
    <p class="smallerText"><img class="people-right smallerPic" title="Jo Paulger" alt="Jo Paulger" src="{{ STATIC_URL }}img/Jo-40x40.png"><b>Developer:</b> <a href="http://www.linkedin.com/pub/joanna-paulger/65/732/340">Jo Paulger</a> implemented a lot of the web site backend and dynamic web pages, and contributed to styling the pages. Jo is currently a volunteer at <a href="http://www.aptivate.org" target="_blank">Aptivate</a></p>
    <p class="smallerText"><img class="people-left smallerPic" title="Philip Pepper" alt="Philip Pepper" src="{{ STATIC_URL }}img/PhilipPepper-40x40.png"><b>Graphic design:</b> <a href="mailto:philip@pencilandpepper.com">Philip Pepper</a> is responsible for the artistic design of the website. Philip runs the <a href="http://www.pencilandpepper.com/contact.html">Pencil and Pepper</a> illustration, graphic design and animation agency.</p>
    <p class="smallerText"><img class="people-right smallerPic" title="Khalid Sattar" alt="Khalid Sattar" src="{{ STATIC_URL }}img/KhalidSattar-40x40.png"><b>IT Director:</b> <a href="mailto:Khalid.sattar@gmail.com">Khalid Sattar</a> is a highly experienced IT manager. He worked on website deployment, management and backup technology.</p>
    <p class="smallerText"><i><b>On the shoulders of giants&hellip;</b><br />
The web team gratefuilly acknowledge the fantastic work of those who have gone before: the Django, Bootstrap and Bootswatch teams in particular.</i></p>
    <p class="smallerText">&nbsp;</p>{% comment %} This is here to extend the light background when the previous paragraph text is too small to overtake the img {% endcomment %}
  </div>
{% endblock%}
