{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sponsors" %}{% endblock %}

{% block body %}

<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Vision</a></li>
      <li><a href="#">History & aims</a></li>
      <li><a href="#">People</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#">Press information</a></li>
      <li><a href="#">News</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span9">
    <h1>Vision</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 
  </div>
  <div class="span4">
    Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 
  </div>

  <div class="span4">
    <img style="width: 100%; height: 360px" src="">
  </div>
</div>  

{% endblock%}
