{% extends "about_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "About the e-Luminate Festival: News" %}{% endblock %}

{% block aboutHeading %}News{% endblock %}

{% block aboutContent %}
  <div class="span4">
    Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 Body column 1 
  </div>
  <div class="span4">
    Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 Body column 2 
  </div>

  <div class="span4">
    <img style="width: 100%; height: 360px" src="">
  </div>
{% endblock%}
