{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Contact us" %}{% endblock %}

{% block body %}

<div class="row-flud">
  <div class="span12">
    <h1>Contact us</h1>
  </div>
</div>

<div class="row-flud">
  <div class="span12">
    <p>The Cambridge e-Luminate Festival 2013 is organised by e-Luminate Festivals CIC</p>
    <p>Email: <a href="mailto:info@e-luminatefestivals.co.uk">info@e&#8288;-&#8288;luminatefestivals.co.uk</a></p>
    <p>Tel: 01223 969 777</p>
    <p>&nbsp;</p>
    <p>Follow us on twitter: <a href="https://twitter.com/eLuminateFest">@eLuminateFest</a></p>
    <p>Find us on Facebook: <a href="https://www.facebook.com/pages/e-Luminate-Festival/514816211865297">E&#8288;-&#8288;Luminate&nbsp;Festivals</a></p>
    <p>...or on LinkedIn: <a href="http://www.linkedin.com/company/2842933">e&#8288;-&#8288;Luminate&nbsp;Festivals</a></p>
    <pP&nbsp;</p>
    <p><br>e-Luminate Festivals is a not-for-profit community interest company,<br>registered in England, No. 08290805</p>
    <p>The e-Luminate<sup>&reg;</sup> logo is a registered trademark of e-Luminate Festivals CIC</p>
  </div>
</div>

{% endblock%}
