{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body %}

<div class="row-fluid">
  <div class="span8">
    <h1>The 2013 e-Luminate Cambridge Festival</h1>
  </div>
  <div class="span4"><h1>20th&thinsp;&mdash;&thinsp;24th Feb</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <h2 style="margin-top: 0">Welcome</h2>
    <p>The inaugural e-Luminate Festival 2013 is an exciting visual display which showcases one of Cambridge's most upwardly mobile sectors: Clean Technology. In a series of collaborations, Clean Tenchnology innovators and visual artists will use light and installation art to demonstrate some of the extraordinary breakthroughs in this modern and environmentally-focussed industry.</p>
    <p><b><i>Our <a href="{% url 'events-list' %}">programme</a> of events runs from the 20<sup>th</sup> &ndash; 24<sup>th</sup> of February 2013 and includes interactive light displays, workshops, talks and events to delight and educate all ages.</i></b><br/>&nbsp;</p>
    <div class="row-fluid">
      <div class="span3">
        <h2 style="margin-top: 0;">Featured events:</h2>
      </div>
      <div class="span9"style="margin-bottom: 10px;" >
	<a class="btn btn-primary" style="margin-bottom: 5px; margin-right:5px;" href="/events/11/">Wed 20<sup>th</sup> &ndash; <b>Grand Switch-on</b></a> <a class="btn btn-primary" style="margin-bottom: 5px;" href="/events/18/">Fri 22<sup>nd</sup> &ndash; <b>Concert &ndash; Dowsing Sound Collective</b></a>{% comment %}<a class="btn btn-primary" style="margin-bottom: 5px;" href="/events/9/">Sat 23<sup>rd</sup> &ndash; <b>Talk by Prof. Crawford-Brown</b></a>{% endcomment %}
      </div>
    </div>
  </div>
  <div class="span4">
    {% comment %} temporary image, to be replaced by carousel {% endcomment %}
    <div style="margin-bottom: 0px; margin-top: 20px; height: 200px; background-position: center; background-size: 200%;
		background-image: url('http://susieolczak.files.wordpress.com/2012/06/light-2009.jpg')"
	 >&nbsp;
    </div>
    <p class="smallerText" style="margin-bottom: 20px; text-align: right">Photo courtesy Suzie Olczac</p>
  </div>

  <div class="row-fluid lightBackgroundHost">
    <div class="span4 lightBackground">
      <img src="{{ STATIC_URL }}img/elum_top.png" />
      <a href="{% url 'events-list' %}"><h2>Browse the programme</h2></a>
      <p>The festival has art installations and displays in various locations around the city. Some of the CleanTech companies have also organised displays about what they do.</p>
    <p>At various specific times there will be events and talks, most of which are open to the public.</p>
    <a href="{% url 'events-map' %}" class="btn">Find out more&hellip;</a>
  </div>

  <div class="span4 lightBackground">
    <img src="{{ STATIC_URL }}img/elum_top.png" />
    <a href="{% url 'participant_landing' %}"><h2>See who is collaborating</h2></a>
    <p>See details of artists and the Cleantech companies they are collaborating with.<p>
    <p>There are many educational activities associated with the festival too, which are well worth a look. Our educational collaborators have excelled themselves.</p>
    <a href="{% url 'participant_landing' %}" class="btn">Find out more&hellip;</a>
  </div>
  
  <div class="span4 lightBackground">
    <img src="{{ STATIC_URL }}img/elum_top.png" />
    <a href="{% url 'sponsors' %}"><h2>See our sponsors</h2></a>
    <p>The festival could not have happened without the generous support of many people and organisations. We would like to thank all those listed on the
 "Sponsors & Partners" page. We would also like to thank the team of people who volunteered their time to put the festival together.</p>
    <a href="{% url 'sponsors' %}" class="btn">Find out more&hellip;</a>
  </div>
</div>
{% endblock %}
