{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body %}

<div class="row">
  <div class="span8">
    <h1>Title of the home page goes here</h1>
  </div>
</div>

<div class="row">
  <div class="span8">
    <p>Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg</p>
  </div>
  <div class="span4">
    <img style="width: 100%; height: 256px">
  </div>
</div>

<div class="row">
  <div class="span4">
    <h2>Browse the programme</h2>
    <p>Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg</p>
    <a href="#" class="btn">Find out more</a>
  </div>

  <div class="span4">
    <h2>View the virtual exhibition</h2>
    <p>Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg</p>
    <a href="#" class="btn">Find out more</a>
  </div>
  
  <div class="span4">
    <h2>Find out more</h2>
    <p>Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg Bar bip ggggg</p>
    <a href="#" class="btn">Find out more</a>
  </div>
</div>

{% endblock %}
