{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body %}

<div class="row-fluid">
  <div class="span12">
    <h1>2013 e-Luminate Cambridge Festival Programme</h1>
  </div>
</div>
  <div class="row-fluid">
    <div class="span12">
      <p  style="font-size: 140%" >
	Filter:&nbsp;&nbsp;
	<input style="vertical-align: top" type="radio" name="" value=""> All&nbsp;&nbsp;&nbsp;&nbsp;
	<input style="vertical-align: top" type="radio" name="" value=""> Sponsors&nbsp;&nbsp;&nbsp;&nbsp;
	<input style="vertical-align: top" type="radio" name="" value=""> Art & Events&nbsp;&nbsp;&nbsp;&nbsp;
	<input style="vertical-align: top" type="radio" name="" value=""> Exhibitors: Energy&nbsp;&nbsp;&nbsp;&nbsp;
	<input style="vertical-align: top" type="radio" name="" value=""> Exhibitors: Lighting&nbsp;&nbsp;&nbsp;&nbsp;
	<input style="vertical-align: top" type="radio" name="" value=""> Exhibitors: Other
      </p>
    </div>
  </div>
  <div class="row-fluid">
  <div class="span9" style="height: 450px; line-height: 550px; overflow: hidden">
    <img src='/site_media/static/img/pretend_map.jpg' style="width: 100%; height: auto; margin-top: -150px; vertical-align: bottom; overflow: hidden;">
</div>
  <div class="span3" style="font-size: 120%;">
    <p>1: Issam Kourbaj: "Christ's College"</p>
    <p>2: Joanna Autumn Walker: "Untitled"</p>
    <p>3: Mark Ingham: "Kings Carousel"</p>
    <p>4: Polysolar</p>
    <p>5: Sue Shepherd: "You are here"</p>
    <p>6: Susie Olczak: "Untitled"</p>
  </div>
</div>

{% endblock %}
