{% extends "theme_bootstrap/base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
  <!-- our js -->
  <!-- our namespace js -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/namespace.js"></script>
  {% block extra_head %}{% endblock %}
{% endblock %}

{% block site_brand %}
  <div id="topGraphic">
    <img src="{{ STATIC_URL }}img/elum_top.png" />
  </div>
{% endblock %}

{% block nav %}
	{% include "_nav.html" %}
{% endblock %}

{% block body_base %}
  <div class="container">
    {% include "_messages.html" %}

    {% block body %}
    {% endblock %}

    {% block footer_base %}
      <footer class="container">
	{% block footer %}
	  {% include "_footer.html" %}
	{% endblock %}
      </footer>
    {% endblock %}
  </div>
{% endblock %}



{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
