{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sponsors & Partners" %}{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="span7">
    <h1>Sponsors</h1>
    <p>
      Key to this project is the involvement and financial support of the following organisations. Opportunities exist to support the e-Luminate Festival either in broad terms or for specific installations or projections. Please contact <a href="sponsorship@e-luminatefestivals.co.uk">sponsorship@e&#8288;-&#8288;luminatefestivals.co.uk</a> to find out the benefits of getting involved in the project.
    </p>
  </div>
</div>
<div class="row-fluid" id="sponsors">
  <div class="span4">
    <a target="_blank" href="https://www.cambridge.gov.uk/other-events">
      <img class="whiteNeeded" src="{{ STATIC_URL }}img/sponsors/CambridgeCityLogo.jpg" />
    </a>
    <p>Cambridge City Council has a clear vision for the future of our city, a vision which they share with Cambridge citizens and with partner organisations.
      Cambridge is:
      <ul>
	<li>where people matter</li>
	<li>a good place to live, learn and work</li>
	<li>caring for the planet</li>
      </ul>
    </p>
    <a target="_blank" href="https://www.cambridge.gov.uk/other-events">
      <img class="whiteNeeded" src="{{ STATIC_URL }}img/sponsors/CoverSureLogo.jpg" />
    </a>
    <p>
      Being a local business committed to serving the local community, CoverSure specialise in Commercial and Taxi Insurance. Please feel free to contact them for all your insurance needs, just like we did for the e-Luminate Cambridge Festival.
    </p>
  </div>
  <div class="span4">
    <a target="_blank" href="http://www.cambridge-news.co.uk/Home/">
      <img src="{{ STATIC_URL }}img/sponsors/CamNewsLogo.jpg" />
    </a>
    <p>
      The Cambridge News is the current holder of the UK’s regional daily newspaper of the year award. Published six days a week, the News is your community newspaper, keeping you informed about everything that is going on in Cambridge and the surrounding region. With its informative and entertaining mix of news, sport and entertainment, the News has something for all the family and features different added value pull-outs every day of the week, covering sport, business, puzzles, jobs, what’s on, property, motoring and lifestyle. Its award-winning website &mdash;&nbsp;<a style="white-space: nowrap;" href="http://www.cambridge-news.co.uk">www.cambridge-news.co.uk</a>&nbsp;&mdash; is the place to find breaking news throughout the day, and a wealth of special interest sections. The Cambridge News is proud to support e-Luminate and will bring its audience the best coverage before, during and after the festival.
    </p>
  </div>
  <div class="span4">
    <a target="_blank" href="http://www.taylorvinters.com/">
      <img class="whiteNeeded" style="height: 40px !important" src="{{ STATIC_URL }}img/sponsors/TaylorVintersLogo.jpg" />
    </a>
    <p>Taylor Vinters is a successful next generation law firm with a commitment to being one of the elite law firms operating internationally in the areas of technology, investment and private client. Headquartered in Cambridge UK,  Europe's innovation capital, and operating from its offices in London, Singapore and Cambridge, our team of entrepreneurially-minded people serve an international client base of private individuals, fast-growth companies, multinational, investors and non-profits.</p>
</p>
</div>
</div>
<div class="row-fluid">
  <div class="span6"><h1>Partners</h1>
  </div>
</div>
<div class="row-fluid" id="sponsors">
  <div class="span4">
    <a target="_blank" href="http://www.cambridgecleantech.org.uk/">
      <img src="{{ STATIC_URL }}img/sponsors/CleantechLogo.jpg" />
    </a>
    <h2>Media partner</h2>
    <p>
      Cambridge Cleantech is a members organisation supporting the growth of environmental goods and services or “cleantech” companies in the Greater Cambridge area. Cambridge Cleantech’s ambition is to further develop Cambridge as a leading cleantech centre in Europe by co-ordinating, supporting and promoting commercial opportunities for their members.    </p>
    <a target="_blank" href="http://www.cambridgefilmfestival.org.uk/trust">
      <img class="whiteNeeded" src="{{ STATIC_URL }}img/sponsors/CambridgeFilmTrustLogo.jpg" />
    </a>
    <p>
      The Cambridge Film Trust champions independent cinema and fosters film culture and education, primarily in Cambridge and the Eastern region but also throughout the UK. They deliver screenings, events and special seasons that enable audiences to engage with film culture in a challenging and creative way.
    </p>
    <a target="_blank" href="http://www.sawtrust.org/">
      <img class="whiteNeeded" src="{{ STATIC_URL }}img/sponsors/SAWLogo.png" />
    </a>
    <p>
      The science, art and writing (SAW) initiative breaks down traditional barriers between the arts and sciences.
    </p><p>
      Through creative use of science in the classroom, SAW inspires artistic and scientific endeavour. Children realise that science and the arts are interconnected – and they discover new and exciting ways of looking at the world.
    </p>
    <p>
      SAW projects are accessible to all ages and abilities. They stimulate exploration, enquiry and creativity. And they are fun! 
    </p>
  </div>
  <div class="span4">
    <a target="_blank" href="http://OpenDCU.org">
      <img src="{{ STATIC_URL }}img/sponsors/OpenDCU.png" />
    </a>
    <p>
      The OpenDCU is a standardized core of smart and connected home systems. The project is developing standards and profiles for the Internet of Things in homes, and will be publishing a freely-copyable reference design for the core device.
    </p>
    <a target="_blank" href="http://artsandbusiness.bitc.org.uk/">
      <img class="whiteNeeded" src="{{ STATIC_URL }}img/sponsors/ArtsBusinessLogo.jpg" />
    </a>
    <p>
      Arts & Business is one of the leading global experts in developing private and public sector partnerships with the arts. The organisation connects companies, communities and individuals to cultural organisations and provide the delivery, expertise and insight for their relationships to thrive, for their mutual benefit and that of the wider community. The mission of Arts & Business is to encourage and promote stronger partnerships between business and the arts.  These partnerships will underline the power of the arts to transform business and communities and the power of business to transform the arts.
    </p>
    <a target="_blank" href="https://www.conferencecambridge.com/">
      <img class="whiteNeeded" src="{{ STATIC_URL }}img/sponsors/ConfCambLogo.jpg" />
    </a>
    <p>
      Conference Cambridge is the official, free venue-finding service for Cambridge University and its Colleges and it’s our aim to find the perfect host for any event.
    </p>
  </div>
  <div class="span4">
    <a target="_blank" href="http://sustainablesouk.com/">
      <img src="{{ STATIC_URL }}img/sponsors/ssoukLogo.png" />
    </a>
    <p>
      Neighbourhood at the heart&hellip;<br />
      A local distributed market made by the people for the people. 
      On the <a href="http://sustainablesouk.com">SustainableSouk</a> it is possible to discover 
      producers who are local to you. Just pick the products you are interested in, and 
      we will deliver them to you, even the day after.
    <a target="_blank" href="http://www.jbs.cam.ac.uk/">
      <img class="whiteNeeded" src="{{ STATIC_URL }}img/sponsors/JudgeLogo.jpg" />
    </a>
    <p>
      Cambridge Judge Business School was established in 1990 under the name of the Judge Institute of Management Studies, as a focus for management teaching and research in the University.
    </p>
    <p>
      The world class faculty of the School is composed of over 80 members of staff. They represent all continents and likewise their research interests span the globe and the full spectrum of business issues. Many are leaders in their field directing cutting-edge research, consulting for top businesses, advising governments, and most of all, bringing their experiences and new found knowledge into the classroom.
    </p>
  </div>
</div>
<div class="row-fluid">
  <div class="span6"><h1>Venues</h1>
  </div>
</div>
<div class="row-fluid" id="sponsors">
  <div class="span4">
    <a target="_blank" href="http://changing-spaces.org/">
      <img class="whiteNeeded" src="{{ STATIC_URL }}img/sponsors/ChangingSpacesLogo.jpg" />
    </a>
    <p>
      Changing Spaces is an artist-run project that negotiates the use of empty commercial property as a resource for exhibitions and creative development. They operate as a platform for artists to become part of the city’s creative culture. The Changing Spaces team endeavour to offer a unique opportunity for contemporary artists to present and sell their work, develop their careers, and become part of the visual artistic output of Cambridge.
    </p>
  </div>
  <div class="span4">
    <a target="_blank" href="http://www.cambridgesciencecentre.org/">
      <img class="whiteNeeded" src="{{ STATIC_URL }}img/sponsors/CambridgeScienceCentreLogo.jpg" />
    </a>
    <p>
      Get hands-on with some of the best science and technology from the city of Cambridge and around the world. Visit a space of exploration for adults and families packed with amazing interactive exhibits, lively shows and inspiring workshops.
    </p>
  </div>
  <div class="span4">
    <a target="_blank" href="http://www.johnlewis.com/">
      <img class="whiteNeeded" src="{{ STATIC_URL }}img/sponsors/JohnLewisLogo.jpg" />
    </a>
    <a target="_blank" href="http://www.grandarcade.co.uk/">
      <img class="whiteNeeded" src="{{ STATIC_URL }}img/sponsors/GrandArcadeLogo.jpg" />
    </a>
  </div>
</div>
{% endblock%}
