{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "e-Luminate Virtual exhibition" %}{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="span6"><h1>Sponsors</h1>
    <p>Our sponsors have given substantially of both time and money to make this, the first e-Luminate<sup>&reg;</sup> Festival the success that is has become. We are grateful to them all.</p>
  </div>
</div>
<div class="row-fluid" id="sponsors">
  <div class="span4">
    <a target="_blank" href="https://www.cambridge.gov.uk/other-events">
      <img class="whiteNeeded" src="{{ STATIC_URL }}img/sponsors/CambridgeCityLogo.jpg" />
    </a>
    <a target="_blank" href="http://www.cambridge-news.co.uk/Home/">
      <img src="{{ STATIC_URL }}img/sponsors/CamNewsLogo.jpg" />
    </a>
  </div>
  <div class="span4">
    <a target="_blank" href="http://www.taylorvinters.com/">
      <img src="{{ STATIC_URL }}img/sponsors/CleantechLogo.jpg" />
    </a>
    <a target="_blank" href="http://OpenDCU.org">
      <img src="{{ STATIC_URL }}img/sponsors/OpenDCU.png" />
    </a>
  </div>
  <div class="span4">
    <a target="_blank" href="http://www.taylorvinters.com/">
      <img src="{{ STATIC_URL }}img/sponsors/TaylorVintersLogo.jpg" />
    </a>
    <a target="_blank" href="http://sustainablesouk.com/">
      <img src="{{ STATIC_URL }}img/sponsors/ssoukLogo.png" />
    </a>
  </div>
</div>
<div class="row-fluid">
  <div class="span6"><h1>Partners</h1>
    <p>Our partners have also given great support to the e-Luminate project, and have offered venues and other resources to us. Thank you, everyone.</p>
  </div>
</div>
<div class="row-fluid" id="sponsors">
  <div class="span4">
  </div>
  <div class="span4">
  </div>
  <div class="span4">
  </div>
</div>

{% endblock%}
