{% extends "participant/participant_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Collaborators" %}{% endblock %}

{% block inner_body %}

<div class="row-fluid">
    <div class="span6 offset2">
      <h1>The Collaborators</h1>
        <h2>Browse the people and organisations who have come together to make the  e-Luminate festival happen</h2>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset2">
        <p>Click on their thumbnail to see individual details. You can use the “filter” to select particular categories of collaborators</p>
    </div>
</div>

{% endblock inner_body %}
