<div id="participant_action_bar" class="lightBackground">
    <div id="participant_selector">
        {% for participant in participant_list %}
        <a title="{{ participant.name }}" href="{{ participant.get_absolute_url }}{% if selected_category_id %}?category={{ selected_category_id }}{% endif %}">
            <div class="participant_logo_box{% if current_participant.id == participant.id %} current_participant{% endif %}">
                <img class="participant_logo_img"src="{{ participant.logo.url }}">
            </div>
        </a>
        {% empty %}
        <p>Sorry, no participants matched your query. Try altering the filter below.</p>
        {% endfor %}
    </div>

    {% if category_list|length > 1 %}
    <div id="category_filter">
        <span>Show only </span>
        <form method="GET" action="{% url participant_filter %}">
            <input type="radio" name="category" value="0" {% ifequal selected_category_id 0 %}checked{% endifequal %}> <span>All</span>
            {% for category in category_list %}
            <input type="radio" name="category" value="{{ category.id }}" {% ifequal selected_category_id category.id %}checked{% endifequal %}> <span>{{ category.name }}</span>
            {% endfor %}
            <input class="btn" type="submit" value="Filter"/>
        </form>
    </div>
    {% endif %}
</div>
