{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "e-Luminate virtual exhibition" %}{% endblock %}

{% block body %}

{% include "participant/filter.html" %}
{% include "participant/participant_selector.html" %}

<h1>Welcome to the e-Luminate Virtual Exhibition</h1>

<p>Many of the exhibitors have real displays too, either at their premises or somewhere else in Cambridge. This is indicated in the details for each exhibitor.</p>
<p>Click on their thumbnail to see exhibitor’s details. You can use the “filter” to select particular categories of exhibitors</p>

{% endblock%}
