<div id="participant_action_bar" class="lightBackground">
    <div id="participant_selector">
        {% for participant in participant_list %}
        <a title="{{ participant.name }}" href="{{ participant.get_absolute_url }}">
            <div class="participant_logo_box">
                <img class="participant_logo_img"src="{{ participant.logo.url }}">
            </div>
        </a>
        {% endfor %}
    </div>

    {% if category_list|length > 1 %}
    <div id="category_filter">
        <span>Show only: </span>
        {% for category in category_list %}
        <input type="radio" name="category" value="{{ category.id }}"> {{ category.name }}
        {% endfor %}
    </div>
    {% endif %}
</div>
